<h1>Welcome to <%= @user.username %>'s Page </h1>

<ul>
    <% @pokemons.each do |pokemon| %>
        <li><a href="/pokemons/<%=pokemon.id%>"><%=pokemon.name%></a></li>
    <%end%>

</ul>
<a href="/pokemons/new">Create a New Pokemon</a><br>
<a href="/logout">Logout</a><br>
<a href="/users">View Other Users and their Pokemon</a>